/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --bg-accent-color: #FF0070;
  --bg-accent-text-color: #000028;

  --focus-color: #DB00FF;
  --focus-bg-color: #FF0070;

  --text-color: #F1B2CE;
  --text-accent-color: #FF0070;
  --text-accent-color-transparent: rgba(255, 0, 112, 0.40);

  --bg-color: #000028;
  

  background-image: url(../images/cover-image-dark.png);
}

.page.theme_dark .header__bulb::before {
  content: "rec";
  text-transform: uppercase;
  color: var(--text-accent-color);
  position: absolute;
  top: 10px;
  right: 38px;

  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.page.theme_dark .header__bulb::after {
  content: "";
  width: 9px;
  height: 9px;
  fill: var(--bg-accent-color);
  background: var(--bg-accent-color);
  border-radius: 50%;
  filter: drop-shadow(0px 0px 4px var(--bg-accent-color));
  position: absolute;
  top: 18px;
  right: 19px;
}

@media (min-width: 768px) {
  .page.theme_dark .header__bulb::before {
    top: 20px;
    right: 48px;
  }

  .page.theme_dark .header__bulb::after {
    top: 28px;
    right: 28px;
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    background-image: url(../images/cover-image-dark.png);
  }

  .page.theme_auto .header__bulb::before {
    content: "rec";
    text-transform: uppercase;
    color: var(--text-accent-color);
    position: absolute;
    top: 10px;
    right: 38px;
  
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }
  
  .page.theme_auto .header__bulb::after {
    content: "";
    width: 9px;
    height: 9px;
    fill: var(--bg-accent-color);
    background: var(--bg-accent-color);
    border-radius: 50%;
    filter: drop-shadow(0px 0px 4px var(--bg-accent-color));
    position: absolute;
    top: 18px;
    right: 19px;
  }
  
  @media (min-width: 768px) {
    .page.theme_auto .header__bulb::before {
      top: 20px;
      right: 48px;
    }
  
    .page.theme_auto .header__bulb::after {
      top: 28px;
      right: 28px;
    }
  }
}