/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --accent-color: #FF0070;
  --antiaccent-color: #000028;
  --focus-color: #DB00FF;
  --text-color: #F1B2CE;

  background-image: url(../images/cover-image-dark.png);
  background-color: #000028;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.page.theme_dark .header__bulb::before {
  content: "rec";
  text-transform: uppercase;
  color: var(--accent-color);
  position: absolute;
  top: 10px;
  right: 38px;

  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.page.theme_dark .header__bulb::after {
  content: "";
  width: 9px;
  height: 9px;
  fill: #FF0070;
  background: #FF0070;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 4px #FF0070);
  position: absolute;
  top: 18px;
  right: 19px;
}

.page.theme_dark .decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid #FF0070;
  border-left: 1px solid #FF0070;
  width: 25px;
  height: 25px;
}

.page.theme_dark .decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  border-top: 1px solid #FF0070;
  border-right: 1px solid #FF0070;
  width: 25px;
  height: 25px;
}

@media (min-width: 768px) {
  .page.theme_dark .header__bulb::before {
    top: 20px;
    right: 48px;
  }

  .page.theme_dark .header__bulb::after {
    top: 28px;
    right: 28px;
  }

  .page.theme_dark .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .page.theme_dark .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
}

@media (prefers-color-scheme: dark) and (min-width: 768px) {
  .page.theme_auto .header__bulb::before {
    top: 20px;
    right: 48px;
  }

  .page.theme_auto .header__bulb::after {
    top: 28px;
    right: 28px;
  }

  .page.theme_auto .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .page.theme_auto .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
}

.page.theme_dark .header__theme-menu {
  color: var(--accent-color);
}

.page.theme_dark .header__theme-menu-button:hover {
  border-color: rgba(255, 0, 112, 0.40);
}

.page.theme_dark .header__theme-menu-button:focus {
  border: none;
  border-bottom: 1px solid var(--accent-color);
}

.page.theme_dark .header__theme-menu-button_active {
  border: 1px solid var(--accent-color)
}

.page.theme_dark .header__title {
  color: var(--focus-color);
  text-shadow: 4px 4px 0px var(--accent-color);
}

.page.theme_dark .header__desc {
  color: var(--antiaccent-color);
  background-color: var(--accent-color);
}

.page.theme_dark .content__title {
  color: var(--accent-color);
}

.page.theme_dark .content__subtitle {
  color: var(--antiaccent-color);
  background-color: var(--accent-color);
}

.page.theme_dark .section__title {
  color: var(--antiaccent-color);
  background-color: var(--accent-color);
}

.page.theme_dark .section__info {
  color: var(--text-color);
}

.page.theme_dark .section__link {
  text-shadow: 2px 1px var(--accent-color);
}

.page.theme_dark .section__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.page.theme_dark .section__link:focus {
  border: 1px solid var(--text-color);
}

.page.theme_dark .footer__title {
  color: var(--focus-color);
  text-shadow: 2px 2px 0px var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #FF0070;
  --antiaccent-color: #000028;
  --focus-color: #DB00FF;
  --text-color: #F1B2CE;
  }

  .page {
    background-image: url(../images/cover-image-dark.png);
  background-color: #000028;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  }

  .page.theme_auto .header__bulb::before {
    content: "rec";
    text-transform: uppercase;
    color: var(--accent-color);
    position: absolute;
    top: 10px;
    right: 38px;
  
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }
  
  .page.theme_auto .header__bulb::after {
    content: "";
    width: 9px;
    height: 9px;
    fill: #FF0070;
    background: #FF0070;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 4px #FF0070);
    position: absolute;
    top: 18px;
    right: 19px;
  }
  
  .page.theme_auto .decorated-zone::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 10px;
    border-bottom: 1px solid #FF0070;
    border-left: 1px solid #FF0070;
    width: 25px;
    height: 25px;
  }
  
  .page.theme_auto .decorated-zone::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    border-top: 1px solid #FF0070;
    border-right: 1px solid #FF0070;
    width: 25px;
    height: 25px;
  }
  
  @media (min-width: 768px) {
    .page.theme_auto .header__bulb::before {
      top: 20px;
      right: 48px;
    }
  
    .page.theme_auto .header__bulb::after {
      top: 28px;
      right: 28px;
    }
  
    .page.theme_auto .decorated-zone::before {
      top: 20px;
      right: 20px;
    }
  
    .page.theme_auto .decorated-zone::after {
      bottom: 20px;
      left: 20px;
    }
  }
  
  @media (prefers-color-scheme: dark) and (min-width: 768px) {
    .page.theme_auto .header__bulb::before {
      top: 20px;
      right: 48px;
    }
  
    .page.theme_auto .header__bulb::after {
      top: 28px;
      right: 28px;
    }
  
    .page.theme_auto .decorated-zone::before {
      top: 20px;
      right: 20px;
    }
  
    .page.theme_auto .decorated-zone::after {
      bottom: 20px;
      left: 20px;
    }
  }
  
  .page.theme_auto .header__theme-menu {
    color: var(--accent-color);
  }

  .page.theme_auto .header__theme-menu-button:hover {
    border-color: rgba(255, 0, 112, 0.40);
  }

  .page.theme_auto .header__theme-menu-button:focus {
    border: none;
    border-bottom: 1px solid var(--accent-color);
  }
  
  .page.theme_auto .header__theme-menu-button_active {
    border: 1px solid var(--accent-color)
  }
  
  .page.theme_auto .header__title {
    color: var(--focus-color);
    text-shadow: 4px 4px 0px var(--accent-color);
  }
  
  .page.theme_auto .header__desc {
    color: var(--antiaccent-color);
    background-color: var(--accent-color);
  }
  
  .page.theme_auto .content__title {
    color: var(--accent-color);
  }
  
  .page.theme_auto .content__subtitle {
    color: var(--antiaccent-color);
    background-color: var(--accent-color);
  }
  
  .page.theme_auto .section__title {
    color: var(--antiaccent-color);
    background-color: var(--accent-color);
  }
  
  .page.theme_auto .section__info {
    color: var(--text-color);
  }
  
  .page.theme_auto .section__link {
    text-shadow: 2px 1px var(--accent-color);
  }

  .page.theme_auto .section__link:hover {
    border-bottom: 1px solid var(--text-color);
  }

  .page.theme_auto .section__link:focus {
    border: 1px solid var(--text-color);
  }
  
  .page.theme_auto .footer__title {
    color: var(--focus-color);
    text-shadow: 2px 2px 0px var(--accent-color);
  }
}