/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/


:root {
  --bg-accent-color: #FF0070;
  --bg-accent-text-color: #000028;

  --focus-color: #DB00FF;
  --focus-bg-color: #FF0070;

  --text-color: #F1B2CE;
  --text-accent-color: #FF0070;
  --text-accent-color-transparent: rgba(255, 0, 112, 0.40);

  --bg-color: #000028;


  --font: 'IBM Plex mono';
}